*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------Body y elementos globales---------------- */
body{
    background: #d8d8d8;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

/* ------------Header------------------ */
.header{
    width: 100%;
    height: 50px;
    padding: 0 5rem;
    background: #2d88ff;
    display: flex;
    position: fixed;
    z-index: 1;
}

.header__logo{
    width: 70%;
    display: flex;
    font-size: 1.5rem;
    line-height: 45px;
}

.header__a{
    text-decoration: none;
    color: #fff;
}

.header__span{
    color: #fff;
    font-size: 1.8rem;
}

.header__icons{
    margin: .2rem 0 .2rem 3rem;
}

.header__icons i{
    margin-left: 1.5rem;
    color: #fff;
}


.header__input{
   border-radius: 100px;
   border: none;
   outline: none;
   text-align: center;
   margin: .6rem 2rem;
   display: inline-block;
   width: 300px;
   position: relative;
   caret-color: #ff0000;
}

.header__lupa{
    position: absolute;
    font-size: 1.5rem;
    top: .5rem;
    right: 28rem;
    opacity: .2;
}

.header__imagen{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    margin: .6rem 0;
    position: relative;
}

.header__spany{
    cursor: pointer;
}

.header__spany::before{
    content: "";
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #00ff2a;
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    right: 7rem;
    top: .5rem;
    z-index: 1;
}

/* -------------Menu-navegacion----------------- */

.navegacion{
    position: absolute;
    top: 3.2rem;
    left: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(25% - 5.5rem);
    height: 50vh;
    font-size: 1rem;
}

.navegacion__links{
    text-decoration: none;
    color: #7a7676af;
}

.navegacion__links i{
    font-size: 1.7rem;
    color: #2d88ff;
    margin-right: .6rem;
}

.barraSeparadora{
    width: 20%;
    height: 2px;
    background: #c0bbbbaf;
    position: absolute;
    top: 27rem;
    left: 5rem;
    position: fixed;
}

/* -----------------Extras---------------- */
.extras{
    position: fixed;
    top: 28rem;
    left: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(25% - 5.5rem);
    height: 40vh;
}

.extras__subtituloAtajo{
   margin-bottom: 1.5rem;
}

.extras__imagen{
    width: 100%;
    margin-bottom: .8rem;
}
.extras__img{
    width: 2rem;
    height: 2rem;
    float: left;
}

.extras__span{
    margin-left: 1rem;
    color: #7a7676af;
    font-size: 1rem;
    line-height: 30px;
}

/* ----------------Pagina-Principal-------------- */

.principalPagina{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    overflow-y: scroll; 
    scrollbar-width: none;/* "FIREFOX" */
    /* -ms-overflow-style: none; "IE and EDGE"*/
}

/* CHROME, SAFARI and OPERA 
.example::-webkit-scrollbar {
    display: none;
} */

.principalPagina__contenedorTarjetas{
   width: 90%;
   height: 30%;
   margin: 50px auto 0 auto;
   display: flex;
   gap: auto;
}

.principalPagina__tarjeta{
    width: 18%;
    height: 90%;
    margin: auto auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    line-height: 380px;
    color: #fff;
    font-size: 1rem;
}



.principalPagina__tarjeta:not(:nth-child(1)):after{
   content: "";
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: url("../img/lap.jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border: 4px solid #2d88ff;
   top: 10px;
   left: 10px;
   position: absolute;
}

.principalPagina__tarjeta:nth-child(1){
   background-image: url('../img/man.jfif');
   background-size: 300%;
}

.principalPagina__tarjeta:nth-child(2){
    background-image: url('../img/mujer.jfif');
    background-size: 360%;
 }

 .principalPagina__tarjeta:nth-child(3){
    background-image: url('../img/manwork.jfif');
    background-size: 130%;
 }

 .principalPagina__tarjeta:nth-child(4){
    background-image: url('../img/womanwork2.jfif');
    background-size: 130%;
 }

 .principalPagina__tarjeta:nth-child(5){
    background-image: url('../img/womanwork.jfif');
    background-size: 260%;
 }
 

.principalPagina__tarjeta:nth-child(1),
.principalPagina__tarjeta:nth-child(2),
.principalPagina__tarjeta:nth-child(3),
.principalPagina__tarjeta:nth-child(4),
.principalPagina__tarjeta:nth-child(5){
   background-repeat: no-repeat;
   background-position: center;
}

.principalPagina__tarjeta:hover{
   opacity: .5;
   transition: .6s ease-in-out;
}

.principalPagina__tarjeta:nth-child(1):hover{
    background: url('../img/man.jfif');
    background-size: 380%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.principalPagina__tarjeta:nth-child(2):hover{
    background: url('../img/mujer.jfif');
    background-size: 440%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.principalPagina__tarjeta:nth-child(3):hover{
    background: url('../img/manwork.jfif');
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.principalPagina__tarjeta:nth-child(4):hover{
    background: url('../img/womanwork2.jfif');
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.principalPagina__tarjeta:nth-child(5):hover{
    background: url('../img/womanwork.jfif');
    background-size: 310%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.principalPagina__tarjeta:nth-child(1):after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f067";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2d88ff;
    border: 2px solid #fff;
    top: 65%;
    left: 38%;
    position: absolute;
    text-align: center;
    line-height: 30px;
    font-size: 1.2rem;
    color: #fff;
 }

 /* ---------------------------------------------------------------- */
.principalPagina__perfil{
    width: 90%;
    height: 30%;
    margin: 0 auto;
    background: #fff;
    margin-top: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
}

.principalPagina__perfil-contenido{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
}

.principalPagina__imagen-contenido{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.principalPagina__nombre-contenido{
   display: block;
}

.principalPagina__nombreSub-contenido{
    display: block;
    width: 100%;
    font-size: .6rem;
    color: #bcbec2;
}

.principalPagina__nombreSub-contenido::after{
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: 5px;
}

.principalPagina__question-contenido{
    display: block;
    width: 100%;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #bcbec2;
}

.principalPagina__hs{
   margin: auto 0;
   width: 90%;
}

.principalPagina__barraDivisora{
   width: 100%;
   border: 1px solid #e0e2e6;
   background: #e0e2e6;
   margin-top: 3rem;
}

.principalPagina__acciones-contenido{
    width: 100%;
    margin: 1.4rem 0;
    display: inline-flex;
    gap: 3rem;
}

.principalPagina__spanAcciones{
    font-size: 1rem;
}

.principalPagina__spanAcciones i{
    margin-right: .5rem;
}


.principalPagina__iconoUno{
   color: #f50404ea;
}

.principalPagina__iconoDos{
    color: #34a711ea;
 }

 .principalPagina__iconoTres{
    color: #d8ee10ea;
 }
 
/* ------------------------------------------------------ */
.principalPagina__perfil-gusto{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    background: #fff;
    margin-top: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}

.principalPagina__perfil-gusto-contenido{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
}

.principalPagina__hs2{
    margin: 0;
    width: 90%;
}

.principalPagina__fecha-contenido{
    display: block;
    width: 100%;
    font-size: .6rem;
    color: #bcbec2;
}

.principalPagina__hs2Sub{
    width: 100%;
    margin-top: 5px;
}

.principalPagina__descripcion-contenido{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #bcbec2;
}

.principalPagina__imagen2{
    width: 100%;
    margin-top: 10px;
}

.principalPagina__imagen2-contenido{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}

.principalPagina__acciones2-contenido{
    width: 100%;
    margin: 1.4rem 0;
    display: inline-flex;
    gap: 2rem;
}

 .principalPagina__span2Acciones{
    font-size: 1rem;
} 

.principalPagina__span2Acciones i{
    margin-right: .5rem;
}

.principalPagina__iconoOne{
   color: #2d88ff;
}

.principalPagina__perfil-gusto::after{
    content: "\f142";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: #bcbec2;
}

.principalPagina__acciones2-contenido::after{
    content: "\2754 \f0dd";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    bottom: 1.7rem;
    right: 1rem;
    font-size: 1rem;
    color: #bcbec2;
}

/* Aside de interacciones */

.interacciones{
    width: calc(25% - 5.5rem);
    margin-right: 5.5rem;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin-top: 63px;
    padding: 1rem;
    border-radius: 10px;
}

.interacciones__eventos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.interacciones__eventos::after{
    content: "Ver mas";
    position: absolute;
    top: 0;
    right: 0;
    color: #75a0da;
    font-size: .7rem;
}

.interacciones__dates{
   display: flex;
  
}

.interacciones__hs{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 20px;
  justify-content: space-evenly;
}

.interacciones__aches{
   margin-left: 5px;
}


.interacciones__subTitle{
    color: #bcbec2;
    font-size: 1rem;
}

.interacciones__calendario{
    border-radius: 10px;
    border: 0 solid #bcbec2;
    box-shadow: 6px 4px 12px 1px  rgba(163, 160, 160, 0.4);
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(360deg, hsl(214, 100%, 59%) 45%, hsla(0, 0%, 100%, 1) 48%);
    position: relative;
    font-size: 1rem;
}

.interacciones__span{
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: .7rem;
    line-height: 35px;
}

.interacciones__aches--1{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
}

.interacciones__aches--2{
    color: #bcbec2;
    font-size: .7rem;
}

.interacciones__aches--2 i{
    color: #99999b;
    font-size: .7rem;
    margin-right: 5px;
}

.interacciones__aches--3{
    color: #75a0da;
    font-size: .7rem;
}

/* interacciones anucio */

.interacciones__anuncio{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.interacciones__anuncio::after{
    content: "Cerrar";
    position: absolute;
    top: 0;
    right: 0;
    color: #75a0da;
    font-size: .7rem;
}
  
.interacciones__imagen{
    width: 100%;
    margin-top: 10px;
}

.interacciones__anuncioImg{
    width: 100%;
    height: 210px;
}

/* conversacion */

.interacciones__conversacion{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: .5rem;
}

.interacciones__conversacion::after{
    content: "Ocultar chat";
    position: absolute;
    top: 0;
    right: 0;
    color: #75a0da;
    font-size: .7rem;
}


.interacciones__circuloContacto{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.interacciones__contactosImg::after{
    content: "";
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #00ff2a;
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 30px;
}
  
.interacciones__contactosImg{
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.interacciones__span2{
  color: #848574;
  font-size: 1rem;
  display: inline-block;
  display: flex;
}

/* menu desplegable */

.informacionPerfil__btn{
   border-radius: 100px;
   background: #bbbec0af;
   border: none;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   width: 15%;
   height: 20px;
   padding: .2rem;
   top: 1rem;
   right: 1rem;
}

.informacionPerfil__interruptorDarkMode{
  border-radius: 50%;
  background: #848574;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  left: 0;
  right: unset;
  cursor: pointer;
}

.activo{
   right: 0;
   left: unset;
}

.cambio{
    background: #f1e20e;
}

.informacionPerfil__btn i{
    font-size: 15px;
 }
 
 .dark{
     background: #181717;
 }

.informacionPerfil{
   background: #fff;
   height: 50vh;
   position: fixed;
   right: 5.5rem;
   top: 52px;
   width: calc(26% - 5.5rem);
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 5px 5px 26px 1px #000000;
   display: flex;
   flex-wrap: wrap;
   opacity: 0;
   transition: all .5s linear;
   transform-origin: top;
   transform: scaleY(0);
}

.desplegar{
    opacity: 1;
    transform: scaleY(100%);
} 

.informacionPerfil__enlaces{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.informacionPerfil__info{
  margin-left: 10px;
  height: min-content;
  position: relative;
}

.informacionPerfil__nombre{
    color: #848574;
    font-size: 1rem;
}


.informacionPerfil__ver{
    color: #75a0da;
    font-size: .7rem;
}

.informacionPerfil__imagen{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
}

.informacionPerfil__imagenIcono{
   font-size: 30px;
}

.informacionPerfil__opiniones{
    color: #848574;
    font-size: 1rem;
}

.informacionPerfil__prueba{
    color: #75a0da;
    font-size: .7rem;
}

.informacionPerfil__separacion{
    width: 100%;
    height: 2px;
    background: #c0bbbbaf;
}

.informacionPerfil__Icono{
    font-size: 20px;
}

.informacionPerfil__Icono1{
    font-size: 20px;
}

.informacionPerfil__flechas{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: min-content;
    margin: 0 auto;
}