---
import principalLayout from "../layouts/principalLayout.astro"
import frontPage from "../layouts/sectionFrontPage.astro"
import cv from "../layouts/sectionCV.astro"
import news from "../layouts/sectionNews.astro"
import ad from "../components/ad.astro"
---



<principalLayout>
  <h1>port</h1>
</principalLayout>

