---
import "../styles/stylesBeforeFooter.css";
---

<section class="opiniones">
  <div class="opiniones__content">
    <div class="opiniones__title">Opiniones</div>
    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">Que te gusto de la pagina</h3>
      <div class="opiniones__answer">
        <form action="https://formspree.io/f/movwdyon" method="POST">
          <textarea
            name="comentario"
            class="opiniones__textarea"
            placeholder="Escribe tu comentario aquí..."
            rows="4"
            required></textarea>
          <button type="submit" class="opiniones__button">
            Enviar Comentario
          </button>
        </form>
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Como puedo mejorar mi pagina?
      </h3>
      <div class="opiniones__answer">
        <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
          <textarea
            name="comentario"
            class="opiniones__textarea"
            placeholder="Escribe tu comentario aquí..."
            rows="4"
            required></textarea>
          <button type="submit" class="opiniones__button">
            Enviar Comentario
          </button>
        </form>
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Que proyectos te gustaria ver?
      </h3>
      <div class="opiniones__answer">
        <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
          <textarea
            name="comentario"
            class="opiniones__textarea"
            placeholder="Escribe tu comentario aquí..."
            rows="4"
            required></textarea>
          <button type="submit" class="opiniones__button">
            Enviar Comentario
          </button>
        </form>
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Quisieras aprender más sobre desarrollo web?
      </h3>
      <div class="opiniones__answer">
        <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
          <textarea
            name="comentario"
            class="opiniones__textarea"
            placeholder="Escribe tu comentario aquí..."
            rows="4"
            required></textarea>
          <button type="submit" class="opiniones__button">
            Enviar Comentario
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
