---
import "../styles/stylesBeforeFooter.css";
---

<section class="opiniones">
  <div class="opiniones__content">
    <div class="opiniones__title">Opiniones</div>
    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">Que te gusto de la pagina</h3>
      <div class="opiniones__answer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        quisquam.
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Que te gusto de la pagina Lorem ipsum dolor sit amet.
      </h3>
      <div class="opiniones__answer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        quisquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
        ipsam?
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Que te gusto de la pagina Lorem ipsum dolor
      </h3>
      <div class="opiniones__answer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        quisquam
      </div>
    </div>

    <div class="opiniones__contentQuestion">
      <h3 class="opiniones__question">
        Que te gusto de la pagina Lorem ipsum dolor Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Porro, reprehenderit.
      </h3>
      <div class="opiniones__answer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        quisquam Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Officiis, corporis! Lorem ipsum dolor sit
        amet. hjdgfjhdfsdf
      </div>
    </div>
  </div>
</section>
