---
import footerImage from "../images/footerImg.png";

import "../styles/stylesFooter.css";
---

<section class="footer">
  <nav class="footer__nav">
    <a class="footer__link" href="#">Home</a>
    <a class="footer__link" href="#">Home</a>
    <a class="footer__link" href="#">Home</a>
    <a class="footer__link" href="#">Home</a>
    <a class="footer__link" href="#">Home</a>
  </nav>
  <div class="footer__img">
    <img class="footer__image" src={footerImage.src} alt="img" />
  </div>
</section>
