---
export interface Props {
  title?: string;
}

const { title = "No hay titulo" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Aqu칤 definimos las Custom properties */
  :root {
    --color-white: #fff3f3;
    --color-black: #0b0b0b;

    --color-light: #f0f0f0;
    --color-dark: #181818;

    /* Tipograf칤a */
    --font-principal: "Special Elite", cursive;
    --font-secundario: "Dancing Script", cursive;

    /* Color Tipograf칤a */
    --color-font-primario: #242222;
    --color-font-secundario: #f8f1f1;
  }

  html{
    color-scheme: dark light;
  }

  body {
    background-color: #FF6444;
    padding: 0.5em;

    /* Configuramos la tipograf칤a para toda la web */
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--font-principal);
    color: var(--color-font-primario);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
  }


  /*
  Con este reset vamos a resolver:
    游녤 Unificar el uso de Custom Properties
    游녤 Problemas de box-model m치s generales
    游녤 Problemas con imagenes, v칤deos e iconos svg
    游녤 Problemas con tipograf칤as y etiquetas input en formularios
    游녤 Unificar la tipograf칤a de todas las etiquetas de una web
*/

  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-light: #181818;
      --color-dark: #f0f0f0;
    }
  }

  /* Opcional */
  /* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
  @media (prefers-contrast: high) {
    :root {
    --color-white: #fff;
    --color-black: #000;

    --color-font-primario: #000000;
    --color-font-secundario: #ffffff;
    }
  }

  /* Opcional */
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
      animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }

  /* Reseteamos los margin y paddings de todas las etiquetas */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  /* Evitamos problemas con las imagenes */
  img,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
  }

  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    /* text-decoration: none;
  color: inherit;
  font-size: inherit; */
  }

  /* ... excepto los que se encuentran en p치rrafos */
  p a {
    display: inline;
  }

  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }

  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }

  /* Desactivamos estilos por defecto de las font-principales etiquetas de texto */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  strong,
  blockquote,
  i,
  b,
  u,
  em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  ::selection {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  /* Nivelamos problemas de tipograf칤as y colocaci칩n de formularios */
  form,
  input,
  textarea,
  select,
  button,
  label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Reseteamos las tablas */
  table,
  tr,
  td,
  th {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }

  /* (Prob치ndolo, no usar en producci칩n) En el caso de a침adir una  */

  /* p svg{
  display: inline;
  width: initial;
} */
</style>
