---
import react from "../images/react.png";
import js from "../images/js.png";
import css from "../images/css.png";
import html from "../images/html.png";

import "../styles/stylesSectionNews.css";
import Header from "../components/header.astro";
---

<section class="section-news">
  <!-- decorative concentric rings are drawn with CSS; logos orbit the center -->
  <h3 class="section-news__title">Tecnologias y habilidades</h3>
  <div class="section-news__orbit" aria-hidden="true">
    <div class="orbit__center-ring"></div>
    <div class="orbit__item orbit__item--a">
      <img src={react.src} alt="React" />
    </div>
    <div class="orbit__item orbit__item--b">
      <img src={js.src} alt="JavaScript" />
    </div>
    <div class="orbit__item orbit__item--c">
      <img src={css.src} alt="CSS" />
    </div>
    <div class="orbit__item orbit__item--d">
      <img src={html.src} alt="HTML" />
    </div>
  </div>
</section>
