---
import webDeveloperPrincipal from '../images/webDeveloperPrincipal.png'

import "../styles/stylesSectionFrontPage.css"
---

<section class="front-page">
  <div class="front-page__name">
    <span class="front-page__span-name">E d u a r d o</span>
    <span class="front-page__span-name">F r a n c i s c o</span>
    <span class="front-page__span-name">G a r c i a</span>
  </div>

  <div class="front-page__face-user">
    <img
      class="front-page__img-user"
      src={webDeveloperPrincipal.src}
      alt="Photo of principal developer web"
    />
  </div>

  <div class="front-page__more-info">
    <div class="front-page__row-down-info">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="front-page__svg bi bi-caret-down-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        ></path>
      </svg>
    </div>
    <span class="front-page__span-info">MORE INFO</span>
  </div>
</section>

