---
import imgProject from "../images/imgProject1.webp";

import "../styles/stylesSectionFeaturedProjects.css"
---

<section class="featuredProjects">
  <div class="featuredProjects__content">
    <span class="featuredProjects__title">Featured Projects</span>
    <p class="featuredProjects__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sed, et
      ipsam tempora aliquam impedit asperiores, dolores labore modi itaque
      fugiat recusandae, provident aut accusamus voluptatem assumenda doloremque
      obcaecati neque.
    </p>
    <article class="featuredProjects__project featuredProjects__project1">
      <div class="featuredProjects__titleProject">
        THE BEST PROJECT <br /> OF YEAR
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={imgProject.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >Lorem ipsum dolor sit amet consectetur adipisicing.</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
    <article class="featuredProjects__project featuredProjects__project2">
      <div class="featuredProjects__titleProject">
        THE BEST PROJECT <br /> OF YEAR
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={imgProject.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >Lorem ipsum dolor sit amet consectetur adipisicing.</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
    <article class="featuredProjects__project featuredProjects__project3">
      <div class="featuredProjects__titleProject">
        THE BEST PROJECT <br /> OF YEAR
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={imgProject.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >Lorem ipsum dolor sit amet consectetur adipisicing.</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
      <article class="featuredProjects__project featuredProjects__project4">
      <div class="featuredProjects__titleProject">
        THE BEST PROJECT <br /> OF YEAR
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={imgProject.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >Lorem ipsum dolor sit amet consectetur adipisicing.</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
  </div>
</section>
