---
import '../styles/stylesSectionCV.css';
---

<section class="section-CV">
  <div class="section-CV__info">
    <div class="section-CV__name">Hi my name is Eduardo Francisco Garcia</div>
    <div class="section-CV__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
      maxime eius, necessitatibus nobis, facere quasi soluta unde enim dicta
      quis delectus? Iusto ut impedit quisquam deleniti necessitatibus nihil,
      aperiam temporibuzsdfs Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Deleniti minima accusamus asperiores tempora.
    </div>
    <div class="section-CV__CV">
      <button class="section-CV__button">Click para ver CV</button>
      <span class="section-CV__span">Tambien disponible en WORD</span>
    </div>
  </div>
</section>



