---
import facebook from "../images/projects/facebook.png";
import donas from "../images/projects/donas.png";
import archivos from "../images/projects/archivos.png";

import "../styles/stylesSectionFeaturedProjects.css"
---

<section class="featuredProjects">
  <div class="featuredProjects__content">
    <span class="featuredProjects__title">Proyectos importantes</span>
    <p class="featuredProjects__description">
      Se muestran los proyectos que han marcado en mi vida por la cual al dia de hoy soy lo que soy
    </p>
    <article class="featuredProjects__project featuredProjects__project1">
      <div class="featuredProjects__titleProject">
        REPLICA DE FACEBOOK
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={facebook.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >En tan solo un mes de aprendizaje logre replicar un frontend decente de Facebook</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
    <article class="featuredProjects__project featuredProjects__project2">
      <div class="featuredProjects__titleProject">
        DONAS PARA TODOS
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={donas.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >Plasme mis conocimientos un poco mas avanzados para el frontend de una tienda de donas</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
    <article class="featuredProjects__project featuredProjects__project3">
      <div class="featuredProjects__titleProject">
        REGISTRO DE ACTIVIDADES CULTURALES
      </div>
      <div class="featuredProjects__imgProjects">
        <img
          class="featuredProjects__imgProject"
          src={archivos.src}
          alt="img"
        />
      </div>
      <div class="featuredProjects__footProject">
        <span class="featuredProjects__footImg"
          >La culminacion de mi servicio social en mi etapa universitaria</span
        >
        <span class="featuredProjects__moreProject">ver mas</span>
      </div>
    </article>
  </div>
</section>
