---
import "../styles/stylesSlider.css"
---

<section class="slider">
  <h3 class="slider__title">@LaloGarcia</h3>
  <div class="slider__content">
    <div class="slider__card slider__card1"></div>
    <div class="slider__card slider__card2"></div>
    <div class="slider__card slider__card3"></div>
    <div class="slider__card slider__card4"></div>
    <div class="slider__card slider__card5"></div>
    <div class="slider__card slider__card6"></div>
    <div class="slider__card slider__card7"></div>
    <div class="slider__card slider__card8"></div>
    <div class="slider__card slider__card9"></div>
    <div class="slider__card slider__card10"></div>
  </div>
  <div class="slider2__content">
    <div class="slider2__card slider2__card1"></div>
    <div class="slider2__card slider2__card2"></div>
    <div class="slider2__card slider2__card3"></div>
    <div class="slider2__card slider2__card4"></div>
    <div class="slider2__card slider2__card5"></div>
    <div class="slider2__card slider2__card6"></div>
    <div class="slider2__card slider2__card7"></div>
    <div class="slider2__card slider2__card8"></div>
    <div class="slider2__card slider2__card9"></div>
    <div class="slider2__card slider2__card10"></div>
  </div>
</section>


