---
import corona from "../images/corona.png";

import "../styles/stylesWhatIs.css"
---

<section class="whatIs">
<article class="whatIs__info">
  <div class="whatIs__imgContain">
    <img class="whatIs__img" src={corona.src} alt="img" />
  </div>
  <div class="whatIs__title">Que es esto?</div>
  <div class="whatIs__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit hic aliquam
    deleniti. Quidem, rerum id molestiae, accusamus consequuntur voluptates
    ipsam nam fugiat in totam eos saepe?
  </div>
</article>

</section>

