---
import corona from "../images/corona.png";

import "../styles/stylesWhatIs.css";
---

<section class="whatIs">
  <article class="whatIs__info">
    <div class="whatIs__title">Que es esto?</div>
    <div class="whatIs__description">
      Quisieras saber como se construyo este sitio web? Echa un vistazo al
      proceso
    </div>
    <a href="#" class="whatIs__see-more">Ver más...</a>
  </article>
</section>
